<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citc.nce.aim.privatenumber.dao.TableDao">


<!--    <select id="selectTablesByPrefix" resultType="java.lang.String">-->
<!--        SELECT table_name-->
<!--        FROM information_schema.tables-->
<!--        WHERE table_schema = 'robot_spare'-->
<!--          AND table_name LIKE 'aim_private_number_sent_data_%';-->
<!--    </select>-->

</mapper>
