<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citc.nce.auth.csp.statistics.dao.CspStatisticsMapper">

    <select id="getTotalCsp" resultType="java.lang.Integer">
        select count(*)
        <include refid="sql1"/>
    </select>
    <sql id="sql1">
        FROM
        user t1
        inner join user_certificate_options t2 on
        t1.user_id = t2.user_id
        and t2.certificate_id = 10006
        and t2.deleted = 0
        inner join user_enterprise_identification t3 on
        t1.user_id = t3.user_id
        and t3.deleted = 0
        WHERE
        t1.deleted = 0
    </sql>
    <select id="getTodayCsp" resultType="java.lang.Integer">
        select count(*)
        <include refid="sql1"/>
        and DATE(t1.create_time) =
        DATE_SUB(CURRENT_DATE(), interval 0 DAY)
    </select>

    <select id="getYesterdayCsp" resultType="java.lang.Integer">
        select count(*)
        <include refid="sql1"/>
        and DATE(t1.create_time) =
        DATE_SUB(CURRENT_DATE(), interval 1 DAY)
    </select>
    <select id="getTotalChatbot" resultType="com.citc.nce.auth.csp.statistics.dto.CspGetTotalChatbot">
        select count(*)          as num,
               account_type_code as accountTypeCode
        from csp_customer_chatbot_account
        where deleted = 0
        group by account_type_code
    </select>
    <select id="getCspProvince" resultType="com.citc.nce.auth.csp.customer.vo.CustomerProvinceResp">
        SELECT
        t3.province,COUNT(t3.province) as quantity
        <include refid="sql1"/>
        group by t3.province order by quantity desc
    </select>
</mapper>
