<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.citc.nce.dataStatistics.dao.ProcessQuantityDaysDao">



    <select id="getProcessQuantityResp" parameterType="java.util.Map"
            resultType="com.citc.nce.dataStatistics.vo.resp.ProcessQuantityResp">
        SELECT SUM(t1.process_triggers_num) AS processTriggersSumNum,SUM(t1.process_completed_num) AS processCompletedSumNum,SUM(t1.bottom_return_num) AS bottomReturnSumNum FROM process_quantity_days t1
        WHERE t1.creator =#{creator}  and t1.days &gt;=#{btime} and t1.days &lt;=#{etime}
        <if test="robotSceneNodeId != null and robotSceneNodeId!= ''">
            and t1.robot_scene_node_id =#{robotSceneNodeId}
        </if>
        <if test="robotProcessSettingNodeId != null and robotProcessSettingNodeId!= ''">
            and t1.robot_process_setting_node_id =#{robotProcessSettingNodeId}
        </if>
    </select>

    <select id="getProcessQuantityYesterdays" parameterType="java.util.Map"
            resultType="com.citc.nce.dataStatistics.vo.resp.ProcessQuantityAllResp">
        SELECT t1.days AS createTime,SUM(t1.process_triggers_num) AS processTriggersSumNum,SUM(t1.process_completed_num) AS processCompletedSumNum,SUM(t1.bottom_return_num) AS bottomReturnSumNum FROM process_quantity_days t1
        WHERE t1.creator =#{creator} and t1.days &gt;=#{btime} and t1.days &lt;=#{etime}
        <if test="robotSceneNodeId != null and robotSceneNodeId!= ''">
            and t1.robot_scene_node_id =#{robotSceneNodeId}
        </if>
        <if test="robotProcessSettingNodeId != null and robotProcessSettingNodeId!= ''">
            and t1.robot_process_setting_node_id =#{robotProcessSettingNodeId}
        </if>
        GROUP BY t1.days ORDER BY t1.days
    </select>

    <select id="getProcessQuantityNum" parameterType="java.util.Map"
            resultType="com.citc.nce.dataStatistics.vo.resp.ProcessQuantityTableResp">
        SELECT t1.robot_scene_node_id as robotSceneNodeId, t2.scene_name AS sceneName,t1.robot_process_setting_node_id as robotProcessSettingNodeId,t3.process_name AS processName,t3.derail AS derail,SUM(t1.process_triggers_num) AS processTriggersSumNum,SUM(t1.process_completed_num) AS processCompletedSumNum,SUM(t1.bottom_return_num) AS bottomReturnSumNum,t1.days FROM process_quantity_days t1
        LEFT JOIN robot_scene_node t2 ON t1.robot_scene_node_id=t2.id LEFT JOIN robot_process_setting_node t3 ON t3.`id`=t1.robot_process_setting_node_id
        WHERE t1.creator =#{creator} and t1.days &gt;=#{btime} and t1.days &lt;=#{etime}
        <if test="robotSceneNodeId != null and robotSceneNodeId!= ''">
            and t1.robot_scene_node_id =#{robotSceneNodeId}
        </if>
        <if test="robotProcessSettingNodeId != null and robotProcessSettingNodeId!= ''">
            and t1.robot_process_setting_node_id =#{robotProcessSettingNodeId}
        </if>
        GROUP BY  t1.robot_process_setting_node_id,t1.robot_scene_node_id,t2.scene_name,t3.process_name,t3.derail,t1.days
    </select>

    <select id="getProcessQuantityTableResps" parameterType="java.util.Map"
            resultType="com.citc.nce.dataStatistics.vo.resp.ProcessQuantityTableResp">
        SELECT t1.robot_scene_node_id as robotSceneNodeId, t2.scene_name AS sceneName,t1.robot_process_setting_node_id as robotProcessSettingNodeId,t3.process_name AS processName,t3.derail AS derail,SUM(t1.process_triggers_num) AS processTriggersSumNum,SUM(t1.process_completed_num) AS processCompletedSumNum,SUM(t1.bottom_return_num) AS bottomReturnSumNum,t1.days FROM process_quantity_days t1
        LEFT JOIN robot_scene_node t2 ON t1.robot_scene_node_id=t2.id LEFT JOIN robot_process_setting_node t3 ON t3.`id`=t1.robot_process_setting_node_id
        WHERE t1.creator =#{creator} and t1.days &gt;=#{btime} and t1.days &lt;=#{etime}
        <if test="robotSceneNodeId != null and robotSceneNodeId!= ''">
            and t1.robot_scene_node_id =#{robotSceneNodeId}
        </if>
        <if test="robotProcessSettingNodeId != null and robotProcessSettingNodeId!= ''">
            and t1.robot_process_setting_node_id =#{robotProcessSettingNodeId}
        </if>
        GROUP BY  t1.robot_process_setting_node_id,t1.robot_scene_node_id,t2.scene_name,t3.process_name,t3.derail,t1.days ORDER BY t1.days desc
    </select>



    <select id="getProcessQuantityScenceAsc" parameterType="java.util.Map"
            resultType="com.citc.nce.dataStatistics.vo.resp.ProcessQuantityScenceTopResp">
          SELECT t1.robot_scene_node_id AS robotSceneNodeId, t2.scene_name AS sceneName,SUM(t1.process_triggers_num) AS processTriggersSumNum FROM process_quantity_days t1
        LEFT JOIN robot_scene_node t2 ON t1.robot_scene_node_id=t2.id
        WHERE t1.creator =#{creator} and t1.days &gt;=#{btime} and t1.days &lt;=#{etime}
        <if test="chatBotId != null and chatBotId!= ''">
            and t2.accounts  like concat('%',#{chatBotId},'%')
        </if>
        GROUP BY t1.robot_scene_node_id,t2.scene_name ORDER BY processTriggersSumNum DESC LIMIT 5
    </select>

    <select id="getProcessQuantityScenceDesc" parameterType="java.util.Map"
            resultType="com.citc.nce.dataStatistics.vo.resp.ProcessQuantityScenceTopResp">
        SELECT t1.robot_scene_node_id AS robotSceneNodeId, t2.scene_name AS sceneName,SUM(t1.process_triggers_num) AS processTriggersSumNum FROM process_quantity_days t1
        LEFT JOIN robot_scene_node t2 ON t1.robot_scene_node_id=t2.id
        WHERE t1.creator =#{creator} and t1.days &gt;=#{btime} and t1.days &lt;=#{etime}
        <if test="chatBotId != null and chatBotId!= ''">
            and t2.accounts  like concat('%',#{chatBotId},'%')
        </if>
        GROUP BY t1.robot_scene_node_id,t2.scene_name ORDER BY processTriggersSumNum ASC LIMIT 5
    </select>

    <select id="getProcessQuantityProcessAsc" parameterType="java.util.Map"
            resultType="com.citc.nce.dataStatistics.vo.resp.ProcessQuantityProcessTopResp">
         SELECT t1.robot_scene_node_id AS robotSceneNodeId, t2.scene_name AS sceneName,t1.robot_process_setting_node_id AS robotProcessSettingNodeId,t3.process_name AS processName,SUM(t1.process_triggers_num) AS processTriggersSumNum FROM process_quantity_days t1
        LEFT JOIN robot_scene_node t2 ON t1.robot_scene_node_id=t2.id LEFT JOIN robot_process_setting_node t3 ON t3.`id`=t1.robot_process_setting_node_id
        WHERE t1.creator =#{creator} and t1.days &gt;=#{btime} and t1.days &lt;=#{etime}
        <if test="chatBotId != null and chatBotId!= ''">
            and t2.accounts  like concat('%',#{chatBotId},'%')
        </if>
        GROUP BY  t1.robot_process_setting_node_id,t1.robot_scene_node_id,t2.scene_name,t3.process_name ORDER BY processTriggersSumNum ASC LIMIT 5
    </select>

    <select id="getProcessQuantityProcessDesc" parameterType="java.util.Map"
            resultType="com.citc.nce.dataStatistics.vo.resp.ProcessQuantityProcessTopResp">
        SELECT t1.robot_scene_node_id AS robotSceneNodeId, t2.scene_name AS sceneName,t1.robot_process_setting_node_id AS robotProcessSettingNodeId,t3.process_name AS processName,SUM(t1.process_triggers_num) AS processTriggersSumNum FROM process_quantity_days t1
        LEFT JOIN robot_scene_node t2 ON t1.robot_scene_node_id=t2.id LEFT JOIN robot_process_setting_node t3 ON t3.`id`=t1.robot_process_setting_node_id
        WHERE t1.creator =#{creator} and t1.days &gt;=#{btime} and t1.days &lt;=#{etime}
        <if test="chatBotId != null and chatBotId!= ''">
            and t2.accounts  like concat('%',#{chatBotId},'%')
        </if>
        GROUP BY  t1.robot_process_setting_node_id,t1.robot_scene_node_id,t2.scene_name,t3.process_name ORDER BY processTriggersSumNum desc LIMIT 5
    </select>

    <select id="getscenceNum" parameterType="java.util.Map"
            resultType="java.lang.Long">
        SELECT count(*) FROM robot_scene_node t2 WHERE t2.creator =#{creator} AND t2.deleted=0
        <if test="chatBotId != null and chatBotId!= ''">
            and t2.accounts  like concat('%',#{chatBotId},'%')
        </if>
    </select>

    <select id="getprocessNum" parameterType="java.util.Map"
            resultType="java.lang.Long">
        SELECT count(*) FROM robot_process_setting_node t2 LEFT JOIN robot_scene_node t3 ON t3.`id`=t2.scene_id AND t2.deleted=t3.deleted
        WHERE t2.creator =#{creator} and t2.deleted=0
        <if test="chatBotId != null and chatBotId!= ''">
            and t3.accounts  like concat('%',#{chatBotId},'%')
        </if>
    </select>

    <select id="getProcessQuantityDaysInWeek"
            resultType="com.citc.nce.dataStatistics.entity.ProcessQuantityDaysDo">
        SELECT
            chatbot_id,
            operator_type,
            creator,
            robot_process_setting_node_id,
            robot_scene_node_id,
            SUM(process_triggers_num) AS process_triggers_num,
            SUM(process_completed_num) AS process_completed_num,
            SUM(bottom_return_num) AS bottom_return_num
        FROM
            process_quantity_days
        WHERE
            days >= #{startTime} and days <![CDATA[<]]> #{endTime}
        GROUP BY
            chatbot_id,
            operator_type,
            creator,
            robot_process_setting_node_id,
            robot_scene_node_id
    </select>
</mapper>