<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citc.nce.authcenter.tenantdata.user.dao.Csp1Dao">

    <select id="selectCountByName" parameterType="java.lang.String" resultType="java.lang.Long">
        select count(*) from ${tableName};
    </select>

    <select id="checkTableIsExistByName" parameterType="java.lang.String"
            resultType="java.util.Map">
        show tables like "${tableName}"
    </select>

    <select id="queryAllCspId" resultType="java.lang.String">
        select t1.user_id
        FROM
        user t1
        inner join user_certificate_options t2 on
        t1.user_id = t2.user_id
        and t2.certificate_id = 10006
        and t2.deleted = 0
        inner join user_enterprise_identification t3 on
        t1.user_id = t3.user_id
        and t3.deleted = 0
        WHERE
        t1.deleted = 0
    </select>




    <select id="queryAllCspCustomerId" parameterType="java.lang.String" resultType="java.lang.String">
        select
            T1.user_id as customerId
        from
        user T1
        join user_enterprise_identification T2
        on T1.user_id = T2.user_id
        and T2.deleted = 0
        and T1.enterprise_auth_status  = T2.enterprise_auth_status
        <if test="cspId != null and cspId != ''">
            and T2.creator = #{cspId}
        </if>
        join user_person_identification T3
        on T1.user_id = T3.user_id
        and T3.deleted = 0
        <if test="cspId != null and cspId != ''">
            and T3.creator = #{cspId}
        </if>
        join chatbot_csp_customer T4
        on T1.user_id = T4.user_id
        and T2.id = T4.enterprise_id
        and T4.deleted = 0

        where
        T1.deleted = 0
        <if test="cspId != null and cspId != ''">
            and T2.user_id != #{cspId}
        </if>
    </select>
</mapper>