<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citc.nce.im.tempStore.mapper.ResourcesFormMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.citc.nce.robot.api.tempStore.domain.ResourcesForm">
        <id column="id" property="id"/>
        <result column="form_name" property="formName"/>
        <result column="form_details" property="formDetails"/>
        <result column="form_cover" property="formCover"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="updater" property="updater"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, form_name, form_details, form_cover, creator, create_time, updater, update_time, deleted
    </sql>
    <select id="listByIdsDel" resultType="com.citc.nce.robot.api.tempStore.domain.ResourcesForm">
        select
        <include refid="Base_Column_List"></include>
        from ts_resources_form
        where id in
        <foreach collection="ids" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>

</mapper>
