<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citc.nce.auth.postpay.order.dao.PostpayOrderDetailMapper">

    <select id="selectOrderDetail" resultType="com.citc.nce.auth.postpay.order.vo.PostpayOrderDetailVo">
        select msg_type,
               msg_sub_type,
               operator_code,
               `usage`,
               price,
               amount,
               case msg_type
                   when 1 then (select account_name
                                from csp_customer_chatbot_account
                                where csp_customer_chatbot_account.chatbot_account = postpay_order_detail.account_id
                                  and csp_customer_chatbot_account.deleted = 0)
                   when 2 then (select account_name
                                from csp_video_sms_account
                                where csp_video_sms_account.account_id = postpay_order_detail.account_id
                                  and csp_video_sms_account.deleted = 0)
                   when 3 then (select account_name
                                from csp_sms_account
                                where csp_sms_account.account_id = postpay_order_detail.account_id
                                  and csp_sms_account.deleted = 0)
                   when 4 then (select account_name
                                from csp_reading_letter_account
                                where csp_reading_letter_account.account_id = postpay_order_detail.account_id
                                  and csp_reading_letter_account.deleted = 0)
                   end as account
        from postpay_order_detail
        where order_id = #{orderId}
        order by msg_type,account, msg_sub_type
    </select>
</mapper>
