<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.citc.nce.im.mapper.ShortMsgPhoneResultMapper1">

    <select id="quantityByHours" parameterType="string" resultType="com.citc.nce.robot.vo.TestResp">
        SELECT plan_id,plan_detail_id,DATE_FORMAT(send_time,'%H:00') sendTimeHour,
               DATE_FORMAT(send_time,'%Y-%m-%d') sendTimeDay,short_msg_account_id,short_msg_operator_code,creator
        from short_msg_phone_result
        WHERE
            DATE_FORMAT(send_time,'%Y-%m-%d') = #{specificTime}
        GROUP BY plan_id,plan_detail_id,sendTimeDay,sendTimeHour,short_msg_account_id,creator,short_msg_operator_code
    </select>


    <select id="quantityUnknow" parameterType="string" resultType="com.citc.nce.robot.vo.RobotSendResp">
        SELECT COUNT(1) num ,plan_id,send_result,plan_detail_id,DATE_FORMAT(send_time,'%H:00') sendTimeHour,
               DATE_FORMAT(send_time,'%Y-%m-%d') sendTimeDay,short_msg_operator_code,creator,short_msg_account_id
        from short_msg_phone_result
        WHERE
        DATE_FORMAT(send_time,'%Y-%m-%d') = #{yesterday}
        AND send_result = '0'
        GROUP BY plan_id,send_result,plan_detail_id,sendTimeDay,sendTimeHour,caller_account,creator,short_msg_account_id,short_msg_operator_code
    </select>

    <select id="quantitySuccess" parameterType="string" resultType="com.citc.nce.robot.vo.RobotSendResp">
        SELECT COUNT(1) num ,plan_id,send_result,plan_detail_id,DATE_FORMAT(receipt_time,'%H:00') sendTimeHour,
               DATE_FORMAT(receipt_time,'%Y-%m-%d') sendTimeDay,short_msg_operator_code,creator, DATE_FORMAT(send_time,'%Y-%m-%d') otherTimeDay,short_msg_account_id
        from short_msg_phone_result
        WHERE
            DATE_FORMAT(receipt_time,'%Y-%m-%d') = #{yesterday}
          AND send_result = '1'
        GROUP BY plan_id,send_result,plan_detail_id,sendTimeDay,sendTimeHour,caller_account,creator,otherTimeDay,short_msg_account_id,short_msg_operator_code
    </select>

    <select id="quantityFailed" parameterType="string" resultType="com.citc.nce.robot.vo.RobotSendResp">
        SELECT COUNT(1) num ,plan_id,send_result,plan_detail_id,DATE_FORMAT(receipt_time,'%H:00') sendTimeHour,
               DATE_FORMAT(receipt_time,'%Y-%m-%d') sendTimeDay,short_msg_operator_code,creator,DATE_FORMAT(send_time,'%Y-%m-%d') otherTimeDay,short_msg_account_id
        from short_msg_phone_result
        WHERE
            DATE_FORMAT(receipt_time,'%Y-%m-%d') = #{yesterday}
          AND send_result = '2'
        GROUP BY plan_id,send_result,plan_detail_id,sendTimeDay,sendTimeHour,caller_account,creator,otherTimeDay,short_msg_account_id,short_msg_operator_code
    </select>


    <select id="quantitySendAmount" parameterType="string" resultType="com.citc.nce.robot.vo.RobotSendResp">
        SELECT COUNT(1) num ,plan_id,send_result,plan_detail_id,DATE_FORMAT(send_time,'%H:00') sendTimeHour,
               DATE_FORMAT(send_time,'%Y-%m-%d') sendTimeDay,short_msg_operator_code,creator,short_msg_account_id
        from short_msg_phone_result
        WHERE
            DATE_FORMAT(send_time,'%Y-%m-%d') = #{yesterday}
        GROUP BY plan_id,send_result,plan_detail_id,sendTimeDay,sendTimeHour,short_msg_operator_code,creator,short_msg_account_id
    </select>
</mapper>
