<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citc.nce.auth.meal.dao.CspMealContractAssociationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.citc.nce.auth.meal.domain.CspMealContractAssociation">
        <id column="id" property="id" />
        <result column="contract_id" property="contractId" />
        <result column="meal_id" property="mealId" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="customer_number" property="customerNumber" />
        <result column="price" property="price" />
        <result column="meal_detail" property="mealDetail" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="updater" property="updater" />
        <result column="update_time" property="updateTime" />
        <result column="deleted_time" property="deletedTime" />
        <result column="effective_time" property="effectiveTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, contract_id, name, meal_id, type, customer_number, price, meal_detail, creator, create_time, updater, update_time, deleted_time, effective_time
    </sql>
    <select id="selectMealCount" resultType="java.lang.Long">
        SELECT sum(customer_number) as count
        FROM csp_meal_contract_association
        WHERE contract_id = #{contractId}
          AND deleted_time IS NULL
    </select>

</mapper>
